<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="!img_url!" alt="!name!" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">!name!</h5>
            <p class="card-text">
                高さ: !height!
                <br>
                重さ: !weight!
                <br>
                <!-- 現状簡易な表示 -->
                タイプ: !types!
            </p>
            <!-- 遷移先のURLは要変更 -->
            <a href="#" class="btn btn-primary">詳細</a>
        </div>
    </div>
</div>
