<div class="col">
    <div class="card border-5 border-secondary mb-3" style="width: 18rem;">
        <div class="card-body" style="background-color: !pokemon_color!;">
            <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <h5 class="card-title">!name!</h5>
                    </div>
                    <div class="p-2">
                        <h5>No. !id!</h5>
                    </div>
            </div>
            <div style="background-color: white;">
                <img src="!img_url!" alt="!name!" class="card-img-top">
            </div>
            <div class="card-text">
                <p style="text-align: right">
                    <!-- 現状簡易な表示 -->
                    タイプ: !types!
                </p>
                    <small>
                        !flavor_text!
                    </small>
                <p style="text-align: right;">
                    !height! m | 
                    !weight! kg
                </p>
            </div>
        </div>
    </div>
</div>
