!paging!
<div class="dropdown">
    表示件数
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        !limit!
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="?limit=10&offset=!offset_10!">10</a></li>
        <li><a class="dropdown-item" href="?limit=20&offset=!offset_20!">20</a></li>
        <li><a class="dropdown-item" href="?limit=50&offset=!offset_50!">50</a></li>
    </ul>
</div>